In [ ]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('earthquake.db')
conn

In [3]:
# Tables for wells
wells = pd.read_csv('../data/wells.csv')
wells.to_sql('wells', conn, if_exists='replace', index=False)

well_locations = pd.read_csv('../data/well_locations.csv')
well_locations.to_sql('well_locations', conn, if_exists='replace', index=False)

operators = pd.read_csv('../data/operators.csv')
operators.to_sql('operators', conn, if_exists='replace', index=False)

orders = pd.read_csv('../data/orders.csv')
orders.to_sql('orders', conn, if_exists='replace', index=False)

9685

In [11]:
# Tables for earthquakes

events_df1 = pd.read_csv('../data/events1.csv')
events_df2 = pd.read_csv('../data/events2.csv')
combined_events = pd.concat([events_df1, events_df2], ignore_index=True)
combined_events.to_sql('events', conn, if_exists='replace', index=False)

event_locations1_df = pd.read_csv('../data/event_locations1.csv')
event_locations2_df = pd.read_csv('../data/event_locations2.csv')
combined_event_locations = pd.concat([event_locations1_df, event_locations2_df], ignore_index=True)
combined_event_locations.to_sql('event_locations', conn, if_exists='replace', index=False)

magnitude1_df = pd.read_csv('../data/magnitude1.csv')
magnitude2_df = pd.read_csv('../data/magnitude2.csv')
combined_magnitude = pd.concat([magnitude1_df, magnitude2_df], ignore_index=True)
combined_magnitude.to_sql('magnitude', conn, if_exists='replace', index=False)

15580

In [12]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type= 'table';", conn)

              name
0            wells
1   well_locations
2        operators
3           orders
4           events
5  event_locations
6        magnitude