In [245]:
import pandas as pd
import numpy as py

In [246]:
ok_wells_df = pd.read_csv('../data/InjectionWells.csv')

In [247]:
ok_wells_df.shape

(11126, 21)

In [248]:
ok_wells_df.isnull().sum()

API#                 1
Operator             1
Operator ID          1
WellType             1
WellName             2
WellNumber           2
OrderNumbers         2
Approval Date        1
County               1
Sec                  1
Twp                  1
Rng                  1
QQQQ                 1
LAT                  1
LONG                 1
PSI               1437
BBLS              1437
ZONE                 1
Unnamed: 18      11126
Unnamed: 19      11126
Unnamed: 20      11126
dtype: int64

In [249]:
null_rows_any = ok_wells_df[ok_wells_df.isnull().any(axis=1)]

In [250]:
ok_wells_df.isnull().sum()

API#                 1
Operator             1
Operator ID          1
WellType             1
WellName             2
WellNumber           2
OrderNumbers         2
Approval Date        1
County               1
Sec                  1
Twp                  1
Rng                  1
QQQQ                 1
LAT                  1
LONG                 1
PSI               1437
BBLS              1437
ZONE                 1
Unnamed: 18      11126
Unnamed: 19      11126
Unnamed: 20      11126
dtype: int64

In [251]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,County,Sec,...,Rng,QQQQ,LAT,LONG,PSI,BBLS,ZONE,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,9/6/1977,ALFALFA,13,...,10W,C-SE SE,36.900324,-98.21826,"2,500",300,CHEROKEE,NaN,NaN,NaN
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,470258.0,11/27/2002,ALFALFA,21,...,09W,C-NW NW,36.896636,-98.17772,"2,400","1,000",RED FORK,NaN,NaN,NaN
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,329426.0,8/19/1988,ALFALFA,24,...,11W,SE NE,36.806113,-98.32584,"1,050","1,000",RED FORK,NaN,NaN,NaN
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,281652.0,7/11/1985,ALFALFA,19,...,10W,SW NE NE SW,36.888589,-98.31853,"3,152","1,000",RED FORK,NaN,NaN,NaN
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,470257.0,11/27/2002,ALFALFA,20,...,09W,SE SW NW,36.892128,-98.19462,"1,000","2,400",RED FORK,NaN,NaN,NaN

In [252]:
ok_wells_df.columns

Index(['API#', 'Operator', 'Operator ID', 'WellType', 'WellName', 'WellNumber',
       'OrderNumbers', 'Approval Date', 'County', 'Sec', 'Twp', 'Rng', 'QQQQ',
       'LAT', 'LONG', 'PSI', 'BBLS', 'ZONE', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [253]:
ok_wells_df.dtypes

API#             float64
Operator          object
Operator ID      float64
WellType          object
WellName          object
WellNumber        object
OrderNumbers     float64
Approval Date     object
County            object
Sec               object
Twp               object
Rng               object
QQQQ              object
LAT              float64
LONG             float64
PSI               object
BBLS              object
ZONE              object
Unnamed: 18      float64
Unnamed: 19      float64
Unnamed: 20      float64
dtype: object

In [254]:
ok_wells_df['Approval Date'] = pd.to_datetime(ok_wells_df['Approval Date'])

In [255]:
ok_wells_df['Month'] = ok_wells_df['Approval Date'].dt.month
ok_wells_df['Year'] = ok_wells_df['Approval Date'].dt.year

In [256]:
column_move_1 = ok_wells_df.pop('Month')
ok_wells_df.insert(8, 'Month', column_move_1)

column_move_2 = ok_wells_df.pop('Year')
ok_wells_df.insert(9, 'Year', column_move_2)

In [257]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,...,Rng,QQQQ,LAT,LONG,PSI,BBLS,ZONE,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9.0,1977.0,...,10W,C-SE SE,36.900324,-98.21826,"2,500",300,CHEROKEE,NaN,NaN,NaN
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,470258.0,2002-11-27,11.0,2002.0,...,09W,C-NW NW,36.896636,-98.17772,"2,400","1,000",RED FORK,NaN,NaN,NaN
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,329426.0,1988-08-19,8.0,1988.0,...,11W,SE NE,36.806113,-98.32584,"1,050","1,000",RED FORK,NaN,NaN,NaN
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,281652.0,1985-07-11,7.0,1985.0,...,10W,SW NE NE SW,36.888589,-98.31853,"3,152","1,000",RED FORK,NaN,NaN,NaN
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,470257.0,2002-11-27,11.0,2002.0,...,09W,SE SW NW,36.892128,-98.19462,"1,000","2,400",RED FORK,NaN,NaN,NaN

In [258]:

ok_wells_df.drop('Twp', axis=1, inplace=True)
ok_wells_df.drop('Rng', axis=1, inplace=True)
ok_wells_df.drop('QQQQ', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 18', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 19', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 20', axis=1, inplace=True)

In [259]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,County,Sec,LAT,LONG,PSI,BBLS,ZONE
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9.0,1977.0,ALFALFA,13,36.900324,-98.21826,"2,500",300,CHEROKEE
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,470258.0,2002-11-27,11.0,2002.0,ALFALFA,21,36.896636,-98.17772,"2,400","1,000",RED FORK
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,329426.0,1988-08-19,8.0,1988.0,ALFALFA,24,36.806113,-98.32584,"1,050","1,000",RED FORK
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,281652.0,1985-07-11,7.0,1985.0,ALFALFA,19,36.888589,-98.31853,"3,152","1,000",RED FORK
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,470257.0,2002-11-27,11.0,2002.0,ALFALFA,20,36.892128,-98.19462,"1,000","2,400",RED FORK

In [262]:
ok_wells_df = ok_wells_df.dropna()

In [263]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,County,Sec,LAT,LONG,PSI,BBLS,ZONE
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9.0,1977.0,ALFALFA,13,36.900324,-98.21826,"2,500",300,CHEROKEE
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,470258.0,2002-11-27,11.0,2002.0,ALFALFA,21,36.896636,-98.17772,"2,400","1,000",RED FORK
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,329426.0,1988-08-19,8.0,1988.0,ALFALFA,24,36.806113,-98.32584,"1,050","1,000",RED FORK
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,281652.0,1985-07-11,7.0,1985.0,ALFALFA,19,36.888589,-98.31853,"3,152","1,000",RED FORK
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,470257.0,2002-11-27,11.0,2002.0,ALFALFA,20,36.892128,-98.19462,"1,000","2,400",RED FORK

In [260]:
ok_wells_df.dtypes

API#                    float64
Operator                 object
Operator ID             float64
WellType                 object
WellName                 object
WellNumber               object
OrderNumbers            float64
Approval Date    datetime64[ns]
Month                   float64
Year                    float64
County                   object
Sec                      object
LAT                     float64
LONG                    float64
PSI                      object
BBLS                     object
ZONE                     object
dtype: object

In [264]:
ok_wells_df['Month'] = ok_wells_df['Month'].astype(int)
ok_wells_df['Year'] = ok_wells_df['Year'].astype(int)
ok_wells_df['Operator ID'] = ok_wells_df['Operator ID'].astype(int)

In [265]:
ok_wells_df.dtypes

API#                    float64
Operator                 object
Operator ID               int64
WellType                 object
WellName                 object
WellNumber               object
OrderNumbers            float64
Approval Date    datetime64[ns]
Month                     int64
Year                      int64
County                   object
Sec                      object
LAT                     float64
LONG                    float64
PSI                      object
BBLS                     object
ZONE                     object
dtype: object

In [266]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,County,Sec,LAT,LONG,PSI,BBLS,ZONE
0,3.500300e+09,PHOENIX PETROCORP INC,19499,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9,1977,ALFALFA,13,36.900324,-98.21826,"2,500",300,CHEROKEE
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030,2R,CHRISTENSEN,1,470258.0,2002-11-27,11,2002,ALFALFA,21,36.896636,-98.17772,"2,400","1,000",RED FORK
2,3.500321e+09,LINN OPERATING INC,22182,2R,NE CHEROKEE UNIT,85,329426.0,1988-08-19,8,1988,ALFALFA,24,36.806113,-98.32584,"1,050","1,000",RED FORK
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281,2R,VELMA,2-19,281652.0,1985-07-11,7,1985,ALFALFA,19,36.888589,-98.31853,"3,152","1,000",RED FORK
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030,2R,GRAY,1A,470257.0,2002-11-27,11,2002,ALFALFA,20,36.892128,-98.19462,"1,000","2,400",RED FORK

In [267]:
ok_wells_df.rename(columns = {
  'API#': 'API Number', 
  'County': "Location",
  'WellType': 'Well Type',
  'WellName': 'Well Name',
  'WellNumber': 'Well Number',
  'OrderNumbers': 'Order Numbers',
  'LAT': 'Latitude',
  'LONG': 'Longitude',
  'ZONE': 'Zone'
 }, inplace=True)

In [268]:
county = ok_wells_df['Location'].value_counts()
county

Location
CARTER          1485
STEPHENS        1054
CREEK            672
PONTOTOC         570
SEMINOLE         447
NOWATA           427
TEXAS            339
WASHINGTON       322
GARVIN           287
POTTAWATOMIE     244
PAWNEE           214
PAYNE            205
LINCOLN          191
OKMULGEE         188
KAY              182
GRANT            178
NOBLE            177
HUGHES           160
GRADY            151
TULSA            146
OKFUSKEE         145
BEAVER           137
CADDO            122
ALFALFA          116
OKLAHOMA         112
LOGAN            104
LOVE             103
GARFIELD         102
WOODS             93
KINGFISHER        84
COTTON            82
ROGERS            71
JEFFERSON         70
CANADIAN          49
MCCLAIN           47
CLEVELAND         45
WAGONER           44
MUSKOGEE          41
BLAINE            40
MURRAY            39
COMANCHE          37
MAJOR             37
DEWEY             29
JACKSON           29
CIMARRON          26
TILLMAN           25
BECKHAM           25
WOODWARD          24
KIOWA             22
COAL              20
MARSHALL          19
ELLIS             18
HARMON            15
ROGER MILLS       12
MCINTOSH          11
CUSTER            10
PITTSBURG         10
BRYAN              6
HASKELL            5
MAYES              4
LATIMER            4
CRAIG              4
LEFLORE            3
GREER              3
ATOKA              1
OFUSKEE            1
Name: count, dtype: int64