In [3]:
import pandas as pd
import numpy as py

In [4]:
ok_wells_df = pd.read_csv('../data/InjectionWells.csv')

In [5]:
ok_wells_df.shape

(11126, 21)

In [6]:
ok_wells_df.isnull().sum()

API#                 1
Operator             1
Operator ID          1
WellType             1
WellName             2
WellNumber           2
OrderNumbers         2
Approval Date        1
County               1
Sec                  1
Twp                  1
Rng                  1
QQQQ                 1
LAT                  1
LONG                 1
PSI               1437
BBLS              1437
ZONE                 1
Unnamed: 18      11126
Unnamed: 19      11126
Unnamed: 20      11126
dtype: int64

In [7]:
null_rows_any = ok_wells_df[ok_wells_df.isnull().any(axis=1)]

In [8]:
ok_wells_df.columns

Index(['API#', 'Operator', 'Operator ID', 'WellType', 'WellName', 'WellNumber',
       'OrderNumbers', 'Approval Date', 'County', 'Sec', 'Twp', 'Rng', 'QQQQ',
       'LAT', 'LONG', 'PSI', 'BBLS', 'ZONE', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [9]:
ok_wells_df.dtypes

API#             float64
Operator          object
Operator ID      float64
WellType          object
WellName          object
WellNumber        object
OrderNumbers     float64
Approval Date     object
County            object
Sec               object
Twp               object
Rng               object
QQQQ              object
LAT              float64
LONG             float64
PSI               object
BBLS              object
ZONE              object
Unnamed: 18      float64
Unnamed: 19      float64
Unnamed: 20      float64
dtype: object

In [10]:
ok_wells_df['Approval Date'] = pd.to_datetime(ok_wells_df['Approval Date'])

In [11]:
ok_wells_df['Month'] = ok_wells_df['Approval Date'].dt.month
ok_wells_df['Year'] = ok_wells_df['Approval Date'].dt.year

In [12]:
column_move_1 = ok_wells_df.pop('Month')
ok_wells_df.insert(8, 'Month', column_move_1)

column_move_2 = ok_wells_df.pop('Year')
ok_wells_df.insert(9, 'Year', column_move_2)

In [13]:

ok_wells_df.drop('Twp', axis=1, inplace=True)
ok_wells_df.drop('Rng', axis=1, inplace=True)
ok_wells_df.drop('QQQQ', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 18', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 19', axis=1, inplace=True)
ok_wells_df.drop('Unnamed: 20', axis=1, inplace=True)

In [14]:
ok_wells_df = ok_wells_df.dropna()

In [15]:
ok_wells_df.head()

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,County,Sec,LAT,LONG,PSI,BBLS,ZONE
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9.0,1977.0,ALFALFA,13,36.900324,-98.21826,"2,500",300,CHEROKEE
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,470258.0,2002-11-27,11.0,2002.0,ALFALFA,21,36.896636,-98.17772,"2,400","1,000",RED FORK
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,329426.0,1988-08-19,8.0,1988.0,ALFALFA,24,36.806113,-98.32584,"1,050","1,000",RED FORK
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,281652.0,1985-07-11,7.0,1985.0,ALFALFA,19,36.888589,-98.31853,"3,152","1,000",RED FORK
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,470257.0,2002-11-27,11.0,2002.0,ALFALFA,20,36.892128,-98.19462,"1,000","2,400",RED FORK

In [16]:
ok_wells_df.dtypes

API#                    float64
Operator                 object
Operator ID             float64
WellType                 object
WellName                 object
WellNumber               object
OrderNumbers            float64
Approval Date    datetime64[ns]
Month                   float64
Year                    float64
County                   object
Sec                      object
LAT                     float64
LONG                    float64
PSI                      object
BBLS                     object
ZONE                     object
dtype: object

In [17]:
ok_wells_df['Month'] = ok_wells_df['Month'].astype(int)
ok_wells_df['Year'] = ok_wells_df['Year'].astype(int)
ok_wells_df['Operator ID'] = ok_wells_df['Operator ID'].astype(int)

In [18]:
ok_wells_df.dtypes

API#                    float64
Operator                 object
Operator ID               int64
WellType                 object
WellName                 object
WellNumber               object
OrderNumbers            float64
Approval Date    datetime64[ns]
Month                     int64
Year                      int64
County                   object
Sec                      object
LAT                     float64
LONG                    float64
PSI                      object
BBLS                     object
ZONE                     object
dtype: object

In [19]:
ok_wells_df.head(1)

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,Month,Year,County,Sec,LAT,LONG,PSI,BBLS,ZONE
0,3.500300e+09,PHOENIX PETROCORP INC,19499,2R,SE EUREKA UNIT-TUCKER #1,21,133856.0,1977-09-06,9,1977,ALFALFA,13,36.900324,-98.21826,"2,500",300,CHEROKEE

In [20]:
ok_wells_df.rename(columns = {
    'API#': 'api_number', 
  'Operator': 'operator',
  'Operator ID': 'operator_id',
  'WellType': 'well_type',
  'WellName': 'well_name',
  'WellNumber': 'well_number',
  'OrderNumbers': 'order_number',
  'Approval Date': 'approval_date',
  'Month': 'month',
  'Year': 'year',
  'County': 'county',
  'Sec': 'section',
  'LAT': 'latitude',
  'LONG': 'longitude',
  'ZONE': 'zone',
  'PSI': 'psi',
  'BBLS': 'barrels_fluid'
 }, inplace=True)

In [21]:
county = ok_wells_df['county'].value_counts()
county

county
CARTER      1485
STEPHENS    1054
CREEK        672
PONTOTOC     570
SEMINOLE     447
            ...
CRAIG          4
LEFLORE        3
GREER          3
ATOKA          1
OFUSKEE        1
Name: count, Length: 66, dtype: int64

In [22]:
wells = ['well_number','well_type','well_name','operator_id']

wells_df = ok_wells_df[wells].copy()
wells_df.to_csv('../data/wells.csv', index=False)

In [23]:
wells_df.shape

(9685, 4)

In [24]:
well_locations = ['well_number', 'latitude', 'longitude', 'zone']

well_locations_df = ok_wells_df[well_locations].copy()
well_locations_df.to_csv('../data/well_locations.csv', index=False)

In [25]:
well_locations_df.shape

(9685, 4)

In [26]:
well_intake = ['well_number', 'psi', 'barrels_fluid']

well_intake_df = ok_wells_df[well_intake].copy()
well_intake_df.to_csv('../data/well_intake.csv', index=False)

In [27]:
well_intake_df.shape

(9685, 3)

In [28]:
operators = ['operator_id', 'operator', 'county', 'section']

operators_df = ok_wells_df[operators].copy()
operators_df.to_csv('../data/operators.csv', index=False)

In [29]:
operators_df.shape

(9685, 4)

In [30]:
orders = ['order_number', 'well_number', 'approval_date', 'year']

orders_df = ok_wells_df[orders].copy()
orders_df.to_csv('../data/orders.csv', index=False)